.restaurantList {
    height: 60vmax;
    width: 25vmax;
    overflow-y: scroll;
    background: #f0db7d;
    color: black;
    text-align: center;
    padding-left: 3vmax;
}

.citySelect {
    padding-top: .5vmax;
    padding-right: 7vmax;
    padding-bottom: 1vmax;
    margin-left: 6vmax;
}
#cityInstruct {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
