.ratings {
    padding-top: 2.5%;
    float: left;
    width: 35%;
    /* color: white; */
    padding-left: 13%;
    height: 542px;
}
.details {
    padding-top: 2.5%;
    float: left;
    width: 40%;
    padding-left: 20%;
}

/* h2 {
    color: white;
} */

.ratingsList {
    height: 460px;
    overflow-y: scroll;
    background: #f0db7d;
    color: black;
}

.addRatingsButton {
    padding-left: 30px;
}