.ratings {
    padding-top: 2.5%;
    float: left;
    width: 40%;
    color: white;
    padding-left: 17%;
    height: 542px;
}
.details {
    padding-top: 2.5%;
    float: left;
    width: 40%;
    padding-left: 10%;
}

h2 {
    color: white;
}

.ratingsList {
    height: 460px;
    overflow-y: scroll;
}

.addRatingsButton {
    padding-left: 30px;
}